*{margin:0; padding:0;}
    
.calendario{
    /*margin:40px;
    width:350px;*/
    background:white;
    font-size:12px;
    text-align:center;
    position:relative;
}

/*.calendario table{

}*/

.titulo-calendario{
    color: #666666;
    font-size: 1.8em;
    font-weight: bolder;
    text-align: center;
}

.calendario .mes{
    display:none;
}
.calendario td{
    padding:6px;
    color:#666666;
}
.calendario td.atual{
    border-radius: 1.5em;
    background:#cfcdcd;
    color:#666666;
}
.calendario td.evento{
    border-radius: 1.5em;
    background:#ff6503;
    
}
.calendario td a{
    color:#fff;
    text-decoration:none;
    /*display:block;*/
}
.calendario .mes_title{
    font-size:15px;
}
.calendario .mes_title td{
    background:#cfcdcd;
    padding:5px;
    padding-bottom:6px;
    color:#666666;
}

.calendario #volta, .calendario #vai{
    padding:0 10px;
    font-size:16px;
    text-decoration:none;
    /*background:linear-gradient(to bottom, #fff, #ccc 130%);*/
    line-height:28px;
    margin:3px;
    position:absolute;
    color:#ff6503;
}
/*.calendario #volta:hover, .calendario #vai:hover{
    background:linear-gradient(to bottom, #ccc, #fff 130%);
}*/
.calendario #volta{
    left:-1px;
    top:-1px;
}
.calendario #vai{
    right:-1px;
    top:-1px;
}
.blue, .red{
    float:left;
    width:15px;
    height:15px;
    margin-right:5px;
}
.blue{
    background:#cfcdcd;
}
.red{
    background:#ff6503;
}
.calendario .legends{
    float:left;
    width:100%;
    margin-top:10px;
    text-align:left;
}

.calendario .legends .legenda{
    float:left;
    width:30%;
}


.borda-crono{
  border:1px solid #c67605 !important;
  background-color: #f00 !important;
}
.texto-comum{
    color:#415A55;
    padding:1em 0em 0em 0em;
}
.linha-comum{
    border-color:#415A55 !important;
}
.linha-comum-clara{
    border-color:#FF5F00 !important;
}
.texto-small{
    color:#FF5F00 !important;
}
.botao-ok{
    color:#228B22 !important;
}
.botao-remove{
    color:#ffffff !important;
}
.botao-oculta{
    color:#F4A460 !important;
}

.tabelaPrincipal td{
  background-color: #ffffff;
}

.titulo-local-h1{
      color: #666666;
      font-size: 2.5em;
      font-weight: bolder;
      text-align: center;
}
.titulo-local-h2{
      color: #669999;
      /*color: #FF5F00 !important;*/
      font-size: 30pt;
      font-family:Brush Script MT,cursive;
      text-align: center;
      font-weight:normal;
}
.ano-local{
      color: #3d3d29;
      font-size: 90pt;
}
.texto-formulario-cadastro{
      color: #FF5F00;
      font-size: 1em;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-jos {
  background-color: #979A9A;
}
.badge-jos:hover {
  background-color: #979A9A;
}
.lista-direita{
  text-align: right !important;
}
.divisoria-clara{
background-color: #f4f6f6 !important;
}
.divisoria-escura{
background-color: #d6dbdf !important;
}
.align-vertical{
  vertical-align:middle !important;
}
.div-link:hover{
    background-color: #f00 !important;
}

hr{
  border-color: #cfcdcd;
}

.evento th{
  background:#cfcdcd;
  padding:5px;
  color:#666666;
  text-align: center;
}

.evento table{
  background-color: #cfcdcd;
  overflow: auto;
}

.corpo hr{
  border: 1px solid #f89406;
}

.paginador{
  text-align: center;
}
.paginador hr{
  border: 1px solid #f89406;
}


.borda-teste{
  border: 1px solid #f89406;
}


/*Funções de texto - leia mais e leia menos*/

#mais{
  display: none !important;
}
